* {
	margin: 0;
	padding: 0;

}

.header {
	max-width: 1000px;
	display: grid;
}


/* body{
  
	background-size: cover;
	background-image: url("./imgmili/fondo1.jpg"); 
	color: rgb(222, 224, 222);
	font-family: 'Roboto', sans-serif;
  } */


  h3 {
    font-size: 16px;
	font-weight: bolder;
	color: black;
  
	}


.headercontenedor {

	height: 80px;
	max-width: 1000px;
	
	
	margin: 2px auto;
	display: grid;
	grid-gap: 5px;


	
	grid-template-columns: repeat(4,auto);
	/* background-color: #2196F3; */

	background-color: burlywood;
	/* padding: 2px; */
}

.headerele {
	
	width: 200px;
	border: none;
	font-size: 20px;
	align-content: center;
	

}



.contenedor {
	
	max-width: 800px;
	margin-left: 500px;
	/* margin: 2px auto; */
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(5, 2fr);
	grid-template-rows: repeat(5, auto);

	grid-template-areas: "header header header header"
						 "contenido contenido contenido sidebar"
						 "widget-1 widget-2 widget-3 widget-4"
						 "widget-5 widget-6 widget-7 widget-8"
						  "footer footer footer footer"; 



}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: #fff;
	padding: 5px;
	border-radius: 4px;
}

.contenedor .header {
	background: #12203E;
	color: #fff;
	grid-area: header;
}

.contenedor .contenido {
	grid-area: contenido;
	/* background: #55a8fd; */
	background-color: burlywood;
}

.contenedor .sidebar {
	grid-column: 3 / 4;
	background: #fAA43D;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2,
.contenedor .widget-3,
.contenedor .widget-4,
.contenedor .widget-5,
.contenedor .widget-6,
.contenedor .widget-7,
.contenedor .widget-8,
.contenedor .widget-9,
.contenedor .widget-10,
.contenedor .widget-11,
.contenedor .widget-12{
	/* background: #55a8fd; */
	background-color: burlywood;
	color: #fff;
	height: 225px;
	text-align: center;
	display: grid;

	grid-template-columns: 1;
	grid-template-rows: 2;	


}

.contenedor .widget-1 {
	grid-area: widget-1;

}

.contenedor .widget-2 {
	grid-area: widget-2;
}

.contenedor .widget-3 {
	grid-area: widget-3;
}

.contenedor .widget-4 {
	grid-area: widget-4;
}

.contenedor .widget-5 {
	grid-area: widget-5;
}

.contenedor .widget-6 {
	grid-area: widget-6;
}

.contenedor .widget-7 {
	grid-area: widget-7;
}

.contenedor .widget-8 {
	grid-area: widget-8;
}

.contenedor .widget-9 {
	grid-area: widget-9;
}
.contenedor .widget-10 {
	grid-area: widget-10;
}

.contenedor .widget-11 {
	grid-area: widget-11;
}

.contenedor .widget-12 {
	grid-area: widget-12;
}
.contenedor .footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
	text-align: center;
	padding: 0px;
}

/* @media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header header"
						 "contenido contenido contenido "
						 "sidebar sidebar sidebar "
						 "widget-1 widget-2 widget-3 widget-4"
						 "widget-5 widget-6 widget-7 widget-8"
						 "widget-9 widget-10 widget-11 widget-12"
						 "footer footer footer footer";
	}
} */