

.logo3_mili{
  width: 50px;
  margin-top: 30px;
  margin-left: 15px;
  }


/* section */

.grid_container{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 30px;
  grid-template-rows: 120px 1fr 1fr;
  gap: 8px;
  align-content: center;
  
}

.grid_container div{
  background-color: burlywood;
  
}

.pcursos{
  text-align: center;
  align-content: center;
  font-weight: bold;
  font-size: 1.3em;
  padding-right: 40px;
  height: 150px;
  grid-area:  1 / 3 / 5 / 6;
 
}



 .arabe{
  grid-area: 2 / 2;
  }  

.arabe img{
  width: 230px;
  height: 210px;
  margin-top: 8px;
}


.vegana{
  grid-area:  2 / 3;
}

.vegana img{
  width: 230px;
  height: 210px;
  margin-top: 8px;
}

.grid_container div p{
  color: black;
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;

}
.grid_container div .pcursos{
  color: black;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  

}

.espanola{
  grid-area:  2 /4; 
}

.espanola img{
  width: 230px;
  height: 210px;
  margin-top: 8px;
}



.japonesa{
  grid-area:  2 /5;
}

.japonesa img {
  width: 230px;
  height: 210px;
  margin-top: 8px;
}

.navidena{
  grid-area:3 / 2 ;
}

.navidena img{
  width: 230px;
  height: 210px;
  margin-top: 8px;
}

.decogalles{
  grid-area: 3 / 3;
}

.decogalles img{
  width: 230px;
  height: 210px;
  margin-top: 8px;
}

.decotorta{
  grid-area: 3 / 4;
  }  
.decotorta img{
  width: 230px;
  height: 210px;
  margin-top: 8px;
}


.profesional{
  grid-area:  3 / 5;
}

.profesional img{
  width: 230px;
  height: 210px;
  margin-top: 8px;
}



/* footer */
.footer-container {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
  align-items: center; /* Alinea verticalmente los elementos al centro */
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 90px;
  border-bottom: none;

}

.footer-item {
  /*background-size: 25%;*/
  align-items: center;
  
}

@media(min-width:300px) and (max-width:576px){

  .grid_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    place-items: center;
  }

 

  .pcursos{
 
    font-size: 1em;
    padding-right: 30px;
    height: 150px;
    grid-area:  1 / 1;
   
  }

  
  .arabe{
    grid-area: 2  / 1;
    width: 240px;
    height: 140px;
    }  

    .arabe p{
      margin-top: 5px;
      }  
        
  .arabe img{
    width: 230px;
    height: 210px;
    margin-top: 8px;
    margin-left: 5px;
  }
  
  
  .vegana{
    grid-area:  3 / 1;
    width: 240px;
    height: 140px;
  }
  
  .vegana img{
    width: 230px;
    height: 210px;
    margin-top: 8px;
    margin-left: 5px;
  }

  .vegana p{
    margin-top: 5px;
    }  
  
  .grid_container div p{
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
  
  }
  .grid_container div .pcursos{
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    
  
  }
  
  .espanola{
    grid-area:  4 /1; 
    width: 240px;
    height: 140px;
  }
  
  .espanola img{
    width: 230px;
    height: 210px;
    margin-top: 8px;
    margin-left: 5px;
  }

  .espanola p{
    margin-top: 5px;
    }  
  
  
  .japonesa{
    grid-area:  5 / 1;
    width: 240px;
    height: 140px;
  }
  
  .japonesa img {
    width: 230px;
    height: 210px;
    margin-top: 8px;
    margin-left: 5px;
  } 
  .japonesa p{
    margin-top: 5px;
    }  
  
  
  .navidena{
    grid-area: 6 / 1 ;
    width: 240px;
    height: 140px;
  }
  
  .navidena img{
    width: 230px;
    height: 210px;
    margin-top: 8px;
    margin-left: 5px;
  }

  .navidena p{
    margin-top: 5px;
    }  
  
  
  .decogalles{
    grid-area: 7 / 1;
    width: 240px;
    height: 140px;
  }
  
  .decogalles img{
    width: 230px;
    height: 210px;
    margin-top: 8px;
    margin-left: 5px;
  }

  .decogalles p{
    margin-top: 5px;
    }  
  
  
  .decotorta{
    grid-area: 8 / 1;
    width: 240px;
    height: 140px;
    }  
    
  .decotorta img{
    width: 230px;
    height: 210px;
    margin-top: 8px;
    margin-left: 5px;
  }

  .decotorta p{
    margin-top: 5px;
    }  
  
  
  
  .profesional{
    grid-area:  9 / 1;
    width: 240px;
    height: 140px;
  }
  
  .profesional img{
    width: 230px;
    height: 210px;
    margin-top: 8px;
    margin-left: 5px;
  }

  .profesional p{
    margin-top: 5px;
    }  

  .footer-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    place-items: center;
  }

  nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    place-items: center;
  }

}