header{
  
    height: 130px;
    background-image: url("./imgmili/fondo1.jpg");
    background-size: cover;
    
}

.h2_mili {

   text-align: center; 

}

.p_mili{

text-align: justify;
margin-left: 10%;
margin-right: 10%;


}




footer{

    margin-top: 5%;
    height: 110px;
    background-image: url("./imgmili/fondo3.jpg");
    background-size: cover;
    
}