


body{
  
    background-size: cover;
    background-image: url("./imgmili/fondo1.jpg");
    color: rgb(222, 224, 222);
}


.nosotros_mili{
 margin-left: 50%;
}
.h2_mili {

   text-align: center; 

}

.p_mili{

text-align: justify;
font-size: 16px;
margin-left: 10%;
margin-right: 10%;


}


.footer-container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    align-items: center; /* Alinea verticalmente los elementos al centro */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    border-bottom: none;
    background-image: url("./imgmili/fondo3.jpg");
    background-size: cover;
   

}

.footer-item {
    /*background-size: 25%;*/
    align-items: center;
    
}

nav {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    align-items: center;
    padding-bottom:10px;
   
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    /* color: rgb(222, 224, 222); */
}