* {
	margin: 0;
	padding: 0;

}

/* body {
	background: #E9ECF4;
	color: #000;
	font-family: 'Roboto', sans-serif;
} */

.header {
  width: 800px;
  margin-left: 500px;
	background: #12203E;
	color: #fff;
	}

  h1 {
  font-size: 16px;
	font-weight: bolder;
	color: black;
  
	}

  h3 {
  font-size: 12px;
	font-weight: bolder;
	color: black;
  
	}


.grid-recetas {
    width: 800px;
    margin-left: 500px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 10px;
    background-color: #2196F3;
    padding: 5px;
  }
  
  .grid-recetas > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
  }


  .grid-recetas > .grid-publicidad {
    
    background: #fAA43D;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .grid-descripcion {
    border: 10px;
    grid-column: 2/4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }


  .footer {
    background: #12203E;
    color: #fff;
    grid-area: footer;
    text-align: center;
    padding: 0px;
    width: 800px;
    margin-left: 500px;
  }
