.f-aless {
    padding-top: 25px;
    font-size: 16px;
    color:aqua;
    text-align: center;
}

.h-aless {
    text-align: center;
}

h4 {
    color: aqua;
}

.i-aless {
    padding: 20px;
    
}

.p-aless {
    font-size: 16px;
    color:aqua;
}



