.f-aless {
    padding-top: 25px;
    font-size: 16px;
    color: white;
    text-align: center;
}

.h-aless {
    text-align: center;
}

h4 {
    color: white;
}

.i-aless {
    padding: 20px;
    
}

.p-aless {
    font-size: 16px;
    color: rgb(252, 4, 4);
}

.utensillos-aless {
    display:flex;
    align-items: center;
}
