.f-aless {
    padding-top: 25px;
    font-size: 16px;
    color:white;
    font-weight: bold;
    text-align: center;
}

.h-aless {
    padding-left: 450px;
    text-align: center;
    color:white;
    font-weight: bold;
}


h4 {
    padding-left: 800px;
    color:white;
    font-weight: bold;
}

.i-aless {
    padding: 20px;
    
}

.p-aless {
    font-size: 18px;
    color:white;
    font-weight: bold;
    text-align: end;
}

.i-uten {
    padding-left: 700px;
}

.p-h4 {
    padding-left: 500px;
    font-size: 16px;
    color:white;
    font-weight: bold;
    text-align: end;
}

