.body {
font-family: Arial, sans-serif;
    margin: 20;
    padding: 0;
    background-image: url(../imgmili/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mainlogo .maintitle{
    transition: all .5s;
    transform-origin: left;
}

.maintitle{
    transform-origin: right;
}

.mainlogo:hover{
    transform: rotate(45deg);
}

.maintitle:hover{
    transform: rotate(-15deg);
}

.p-index {
    padding-left: 500px;
    font-size: 20px;
    color:white;
    font-weight: bold;
    text-align: center;
}

.grid_container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 30px;
    grid-template-rows: 120px 1fr 1fr;
    gap: 8px;
    align-content: center;
    
}

.grid_container div{
    background-color: burlywood;
    
}

.recetas {
    grid-area: 2/2;
}

.recetas img {
    padding-left: 20px;
    padding-right: 10px;
    width: 200px;
    height: 210px;
    margin-top: 8px;
    align-content: center;
}

.cursos {
    grid-area: 2/3;
}

.cursos img {
    padding-left: 20px;
    padding-right: 10px;
    width: 200px;
    height: 210px;
    margin-top: 8px;
    text-align: center;
}

.tips {
    grid-area: 2/4;
}

.tips img {
    padding-left: 20px;
    padding-right: 10px;
    width: 200px;
    height: 210px;
    margin-top: 8px;
    text-align: center;
}

.utensillos {
    grid-area: 2/5;
}

.utensillos img {
    padding-left: 20px;
    padding-right: 10px;
    width: 200px;
    height: 210px;
    margin-top: 8px;
    text-align: center;
}

.a_cuadrado {
    font-size: 20px;
    color:black;
    font-weight: bold;
    text-align: center;
}